*{margin : 0;
	padding:0;}

	.button-Order:hover {
		background-color: #171515;
	}
	button.col-md-4.col-md-push-7.btn.btn-danger:hover {
	}

	button.col-md-4.col-md-push-7.btn.btn-danger {
		width: 180px;
		height: 50px;
		margin-top: 17px;
		margin-left: 257px;
		box-shadow: 0 5px #999;
		margin-bottom: 20;
		margin-bottom: 20px;
	}
	.radio-inline input[type="radio"]:checked + label span {
		border: 2px solid black;
		-webkit-transition:border 0.5s linear;
		-o-transition:border 0.5s linear;
		-moz-transition:border 0.5s linear;
		transition:border 0.5s linear;
	}
	.button-Order {
		/* width: 450px; */
	}



	.Size .radio-inline {    
		margin-top: -5px;
		margin-left: 4px;
	}

	.Size {
		display: -webkit-box;
		margin-top: 11px;
	}

	.color .radio-inline {
		margin-top: -6px;
		margin-left: 19px;
	}


	.color {
		display: inline-flex;
	}

	.Shoppingcart {
		background-color: rgba(241, 231, 231, 0.18);
	}

	.row {
	}

	.cart-product {
		border-bottom: 1px solid #CBCBCB;
	}

	.row {}

	h3 {}

	button.btn.btn-default.btnCart {
		height: 38px;
		/* padding-top: 13px; */
		margin-top: 18px;
	}
	.color {
		padding-top: 11px;
		
	}

	img.img-responsive.thumbnail {
		padding-top: 4px;
		margin-top: 17px;
		margin-left: 49px;
	}

	a {
		text-decoration: none;
	}
	button.btn-delete:hover {
		box-shadow: 0 0 0 10px rgba(255,255,255,0.3);
		background: rgba(255,255,255,0.3);
		color: black;
		border-radius: 100%;
		animation-name: rotate;
		animation-duration: 0.5s;
		animation-iteration-count: 1;
	}
	@keyframes rotate {
		0% { 
			color: #DE1DB3;
			transform: rotate(0);
		}
		50%{
			color: #230F1F;
		}
		100% {
			color: #DE1DB3;
			transform: rotate(360deg);
		}
	}
	/*.color .radio-inline{
		margin-left:22px;
		}*/
		a.glyphicon.glyphicon-trash {
			text-decoration: none;
			padding-top: 26px;
			font-size: 17px;
		}

		input.txtNumberProduct {
			width: 28px;
			height: 28px;
		}
		.col-md-2.Numberofproduct {
			padding-top: 21px;
		}

		.price.col-md-2 {
			font-size: 20px;
			padding-top: 22px;
		}

		span.product-field {
			text-size-adjust: 14px;
			font-size: 17px;
		}

		a {
			text-decoration: none;
			color: black;
		}

		img.img-responsive.thumbnail {
			text-align: center;
		}

		img.img-responsive.thumbnail {
			height: 129px;
		}
		.invoice{

			min-height: 1px;
			padding: 15px;
			border-radius: 10px;
			border:5px solid white;
			background-color: #F3F0F0;

		}
		.radio-infomation{
			color: red;
		}
		span.radio-inline{
			padding: 0px;
		}
		.radio-inline input[type="radio"]{
			display: none;
		}
		.radio-inline input[type="radio"] + label span {
			display:inline-block;
			min-width:30px;
			min-height:30px;
			cursor:pointer;
			-moz-border-radius: 0;
			border-radius:  0;
			border: 2px solid #D9D7D7;
			text-align: center;
			vertical-align: middle;
		}
		
		.invoice .produc-price-list .span .b{
			vertical-align: middle;
		}
		span.btn-number{

			border: 1px solid #dfdfdf;
			background: #fff;
			height: 28px;
			display: inline-block;
			width: 28px;
			cursor: pointer;		
			color: #191818;
			background: rgba(247, 245, 245, 0.48);
			text-align: center;
			vertical-align: middle;*/
		}
		input.txtNumberProduct{
			text-align: center;
			border: 1px solid #D9D7D7;
			height: 28px;
			font-size: 13px;
			width: 70px;
			background-color: rgba(249, 247, 247, 0.45);
		}